footer
  .container.text-center
    p.float-left © 2019 UIUC CS CyPhy Group, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/jdlee6461/athena-framework') GitHub Project
      li.list-inline-item
        a(href='https://github.com/jdlee6461/athena-framework/issues') Issues
