BASE_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Your Session Secret goes here

GOOGLE_MAP_API_KEY=AIzaSyAmyWf_VtluPcbDztb35lWfr0Fnkn2b2Bk

SENDGRID_USER=athena_sendgrid
SENDGRID_PASSWORD=athena_sendgrid123!