extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Publication

  .row
    .col-md-10
        h5 2018
        a(href= "https://www.mdpi.com/2224-2708/7/1/5", role='button') 1. Athena: Towards Decision-Centric Anticipatory Sensor Information Delivery. J. Sensor and Actuator Networks 7(1): 5 (2018)»
        p Jongdeog Lee, Kelvin Marcus, Tarek F. Abdelzaher, Md. Tanvir Al Amin, Amotz Bar-Noy, William Dron, Ramesh Govindan, Reginald Hobbs, Shaohan Hu, Jung-Eun Kim, Lui Sha, Shuochao Yao, Yiran Zhao
        p
        a(href= "https://ieeexplore.ieee.org/document/8455376", role='button') 2. A Command-by-Intent Architecture for Battlefield Information Acquisition Systems. FUSION 2018: 2298-2305»
        p 	Jongdeog Lee, Yifan Hao, Tarek F. Abdelzaher, Kelvin Marcus, Reginald Hobbs
        p
        a(href= "https://ieeexplore.ieee.org/document/8599773", role='button') 3. On Tracking Realistic Targets in a Megacity with Contested Domain Access. MILCOM 2018: 743-748»
        p  Jongdeog Lee, Tarek F. Abdelzaher, Hang Qiu, Ramesh Govindan, Kelvin Marcus, Reginald Hobbs, Niranjan Suri, Will Dron:
        p

    .col-md-10
        h5 2017
        a(href= "https://ieeexplore.ieee.org/document/7980121", role='button') 1. Decision-Driven Execution: A Distributed Resource Management Paradigm for the Age of IoT. ICDCS 2017: 1825-1835»
        p Tarek F. Abdelzaher, Md. Tanvir Al Amin, Amotz Bar-Noy, William Dron, Ramesh Govindan, Reginald Hobbs, Shaohan Hu, Jung-Eun Kim, Jongdeog Lee, Kelvin Marcus, Shuochao Yao, Yiran Zhao
        p

    .col-md-10
        h5 2015
        a(href= "https://ieeexplore.ieee.org/document/6093689", role='button') 1. InfoMax: An Information Maximizing Transport Layer Protocol for Named Data Networks. ICCCN 2015: 1-10»
        p Jongdeog Lee, Akash Kapoor, Md. Tanvir Al Amin, Zhehao Wang, Zeyuan Zhang, Radhika Goyal, Tarek F. Abdelzaher
        p
